// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../../common/variables";
@import "../../common/mixins";

.#{$ns}-key-combo {
  @include pt-flex-container(row, $pt-space-scale-size);
  align-items: center;
}

.#{$ns}-hotkey-dialog {
  top: $pt-space-scale-size * 10;
  padding-bottom: 0;

  .#{$ns}-dialog-body {
    margin: 0;
    padding: 0;
  }

  .#{$ns}-hotkey-label {
    flex-grow: 1;
  }
}

.#{$ns}-hotkey-column {
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
  padding: $pt-space-scale-size * 7;

  .#{$ns}-heading {
    margin-bottom: $pt-space-scale-size * 5;

    &:not(:first-child) {
      margin-top: $pt-space-scale-size * 10;
    }
  }
}

.#{$ns}-hotkey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;

  &:not(:last-child) {
    margin-bottom: $pt-space-scale-size * 2;
  }
}
