// Copyright 2016 Palantir Technologies, Inc. All rights reserved.
// Licensed under the Apache License, Version 2.0.

@import '../../common/variables';

.#{$ns}-alert {
  max-width: $pt-space-scale-size * 100;
  padding: $pt-space-scale-size * 5;
}

.#{$ns}-alert-body {
  display: flex;

  .#{$ns}-icon {
    margin-top: 0;
    margin-right: $pt-space-scale-size * 5;
    font-size: $pt-icon-size-large * 2;
  }
}

.#{$ns}-alert-footer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: ($pt-space-scale-size * 2);

  .#{$ns}-button {
    margin-left: ($pt-space-scale-size * 2);
  }
}
